# coding: utf-8

# 장고 프레임워크
django~=4.1.0

# DRF 라이브러리
djangorestframework

# 채널스 기본 라이브러리 + daphne
channels[daphne]~=4.0.0

# 채널스, 채널 레이어 Redis 백엔드 라이브러리
channels_redis~=4.0.0

# 레디스 라이브러리
redis!=4.4.0

# 환경변수
django-environ

# bootstrap5
django-bootstrap5

# HTTP 클라이언트
requests

# HTML 파싱 라이브러리
beautifulsoup4

# cors
django-cors-headers

# 테스트
pytest
pytest-django
pytest-testdox
pytest-asyncio

# 인증
djangorestframework-simplejwt
dj-rest-auth
django-allauth~=0.54.0

# 파일
pillow
